/*Fonts*/
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-ExtraBold.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-SemiBold.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-ExtraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-BlackItalic.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-ExtraBoldItalic.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-SemiBoldItalic.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-LightItalic.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: "Nunito Sans";
    src: url(~assets/fonts/NunitoSans-ExtraLightItalic.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

/*Montserrat Font*/
@font-face {
    font-family: 'Montserrat';
    src: url('~assets/fonts/Montserrat-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('~assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format("truetype-variations");
    font-weight: 1 999;
    font-style: italic;
}


html {
    font-family: 'Nunito Sans', 'sans-serif';
    background-color: theme('colors.gray.100');
}

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', 'serif';
}

h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl font-bold;
}

h3 {
    @apply text-2xl font-bold;
}

h4 {
    @apply text-lg font-bold;
}

h5 {
    @apply text-lg font-bold;
}

.text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-br from-blue-600 to-red-600;
}

.btn-primary-blue {
    @apply bg-ff-primary-blue bg-opacity-90 border-ff-primary-blue border-2 border-opacity-90 text-white px-4 py-2 hover:border-opacity-100 hover:bg-opacity-100 transition-all duration-200 rounded;
}

.btn-primary-blue-outline {
    @apply text-ff-primary-blue px-4 py-2 border-ff-primary-blue border-2 hover:bg-ff-primary-blue hover:text-white transition-all duration-200 rounded;
}

.btn-primary-red {
    @apply bg-ff-text border-ff-text border-2 rounded text-white px-4 py-2 hover:border-opacity-80 hover:bg-opacity-80 transition-all duration-200;
}

.btn-primary-red-outline {
    @apply text-ff-text px-4 py-2 border-ff-text rounded border-2 hover:bg-ff-text hover:text-white transition-all duration-200;
}

.btn-menu {
    @apply px-4 py-2 transition-all duration-200 font-normal hover:bg-black hover:bg-opacity-5 rounded;
}

.btn-menu-no-underline {
    @apply px-4 py-2 font-normal;
}